
body {
    margin: 0;
}

.lil-row          { display: flex; flex-wrap: wrap; }
.lil-row.top      { align-items: flex-start; }
.lil-row.middle   { align-items: center; }
.lil-row.bottom   { align-items: flex-end; }
.lil-row.stretch  { align-items: stretch; }
.lil-row.baseline { align-items: baseline; }
.lil-row.left     { justify-content: flex-start; }
.lil-row.center   { justify-content: center; }
.lil-row.right    { justify-content: flex-end; }
.lil-row.between  { justify-content: space-between; }
.lil-row.around   { justify-content: space-around; }

.lil-col            { box-sizing: border-box; flex-shrink: 0; }
.lil-col.fill       { width: 0; min-width: 0; flex-grow: 1; }

/* Mobile */
.lil-col.\31 -12    { width: 100%; }
.lil-col.\32 -12    { width: 100%; }
.lil-col.\33 -12    { width: 100%; }
.lil-col.\34 -12    { width: 100%; }
.lil-col.\35 -12    { width: 100%; }
.lil-col.\36 -12    { width: 100%; }
.lil-col.\37 -12    { width: 100%; }
.lil-col.\38 -12    { width: 100%; }
.lil-col.\39 -12    { width: 100%; }
.lil-col.\31 0-12   { width: 100%; }
.lil-col.\31 1-12   { width: 100%; }
.lil-col.\31 2-12   { width: 100%; }

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    .lil-col.\31 -12    { width: calc(100% * 1 / 12); }
    .lil-col.\32 -12    { width: calc(100% * 2 / 12); }
    .lil-col.\33 -12    { width: calc(100% * 3 / 12); }
    .lil-col.\34 -12    { width: calc(100% * 4 / 12); }
    .lil-col.\35 -12    { width: calc(100% * 5 / 12); }
    .lil-col.\36 -12    { width: calc(100% * 6 / 12); }
    .lil-col.\37 -12    { width: calc(100% * 7 / 12); }
    .lil-col.\38 -12    { width: calc(100% * 8 / 12); }
    .lil-col.\39 -12    { width: calc(100% * 9 / 12); }
    .lil-col.\31 0-12   { width: calc(100% * 10 / 12); }
    .lil-col.\31 1-12   { width: calc(100% * 11 / 12); }
    .lil-col.\31 2-12   { width: 100%; }

    .lil-row.between>.lil-col.\31 -12  { width: calc(100% * 1 / 12 - 10px); }
    .lil-row.between>.lil-col.\32 -12  { width: calc(100% * 2 / 12 - 10px); }
    .lil-row.between>.lil-col.\33 -12  { width: calc(100% * 3 / 12 - 10px); }
    .lil-row.between>.lil-col.\34 -12  { width: calc(100% * 4 / 12 - 10px); }
    .lil-row.between>.lil-col.\35 -12  { width: calc(100% * 5 / 12 - 10px); }
    .lil-row.between>.lil-col.\36 -12  { width: calc(100% * 6 / 12 - 10px); }
    .lil-row.between>.lil-col.\37 -12  { width: calc(100% * 7 / 12 - 10px); }
    .lil-row.between>.lil-col.\38 -12  { width: calc(100% * 8 / 12 - 10px); }
    .lil-row.between>.lil-col.\39 -12  { width: calc(100% * 9 / 12 - 10px); }
    .lil-row.between>.lil-col.\31 0-12 { width: calc(100% * 10 / 12 - 10px); }
    .lil-row.between>.lil-col.\31 1-12 { width: calc(100% * 11 / 12 - 10px); }
}
