@import url('https://fonts.googleapis.com/css?family=Heebo');

:root {
    --regularfont: 'Heebo', sans-serif;
    --red: #f34336;
    --darkred: #d91b0d;
    --blue: #2195f2;
    --darkblue: #0d7ed9;
    --green: #4cae50;
    --darkgreen: #367c39;
    --yellow: #feea3b;
    --darkyellow: #e4cd01;
    --orange: #fe5722;
    --darkorange: #e43801;
    --purple: #9b27af;
    --darkpurple: #812192;
    --lightgray: #F0F0F0;
    --mediumlightgray: #d9d9d9;
    --gray: #9d9d9d;
    --darkgray: #374046;
    --blackgray : #22272b;
    --white: #ffffff;
}

body {
    font-family: var(--regularfont);
    margin: 0 15px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--darkgray);
}

input {
    font-family: var(--regularfont);
}

button {
    font-family: var(--regularfont);
}

textarea {
    font-family: var(--regularfont);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

h2 {
    font-size: 1.80rem;
    font-weight: bold;
    margin: 10px 0;
}

h3 {
    font-size: 1.60rem;
    font-weight: bold;
    margin: 10px 0;
}

h4 {
    font-size: 1.40rem;
    font-weight: bold;
    margin: 10px 0;
}

h5 {
    font-size: 1.20rem;
    font-weight: bold;
    margin: 10px 0;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
}

a:not(.lil-btn) {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover:not(:visited):not(.lil-btn) {
    color: var(--darkblue);
    text-decoration: underline;
}

a:visited:not(.lil-btn) {
    color:var(--purple);
}

a:visited:hover:not(.lil-btn) {
    color: var(--darkpurple);
    text-decoration: underline;
}

.lil-section {
    margin: 50px 0;
    text-align: left;
}

.lil-section .title {
    font-size: 2rem;
    text-align: left;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.lil-section .subtitle {
    margin: 25px 0 15px 0;
    font-weight: bold;
    font-size: 1.25rem;
}

.lil-section .tinytitle {
    margin: 15px 0 10px 0;
    font-weight: bold;
    font-size: 1rem;
}

hr {
    border: none;
    height: 1px;
    margin: 0 0 10px 0;
    background-color: var(--lightgray);
}

.lil-btn {
    font-family:var(--regularfont);
    font-size: 0.9em;
    outline: none;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background: var(--blue);
    padding: 10px 15px;
    color: var(--white);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease;
    text-decoration: none;
}

.lil-btn:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

.lil-btn:active:not(.link) {
    transition: border 0.1s ease;
    border-color: transparent;
    transform: translateY(1px);
}

.lil-btn.outline {
    outline: none;
    border: 1px solid var(--blue);
    background: transparent;
    padding: 10px 15px;
    color: var(--blue);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: background 0.4s ease, color 0.5s ease, border 0.3s ease, transform 0.3s ease, margin-bottom 0.3s ease;
}

.lil-btn.outline:hover {
    background-color: var(--blue);
    color: var(--white);
    border-color: transparent;
}

.lil-btn.outline:active {
    background-color: var(--darkblue);
    transition: border 0.1s ease;
    border-color: transparent;
    transform: none;
}

.lil-btn.outline:active:not(:hover) {
    border-color: var(--blue);
    color: var(--blue);
    background: transparent;
}

.lil-btn.light {
    background-color: var(--lightgray);
    color: var(--blackgray);
}

.lil-btn.light:hover {
    background-color: var(--mediumlightgray);
}

.lil-btn.dark {
    background-color: var(--darkgray);
}

.lil-btn.dark:hover {
    background-color: var(--blackgray);
}

.lil-btn.blue {
    background-color: var(--blue);
}

.lil-btn.blue:hover {
    background-color: var(--darkblue);
}

.lil-btn.red {
    background-color: var(--red);
}

.lil-btn.red:hover {
    background-color: var(--darkred);
}

.lil-btn.green {
    background-color: var(--green);
}

.lil-btn.green:hover {
    background-color: var(--darkgreen);
}

.lil-btn.yellow {
    background-color: var(--yellow);
    color: var(--darkgray);
}

.lil-btn.yellow:hover {
    background-color: var(--darkyellow);
}

.lil-btn.orange {
    background-color: var(--orange);
}

.lil-btn.orange:hover {
    background-color: var(--darkorange);
}

.lil-btn.purple {
    background-color: var(--purple);
}

.lil-btn.purple:hover {
    background-color: var(--darkpurple);
}

.lil-btn.link {
    background-color: transparent;
    color: var(--blue);
    border: none;
    transition: color 0.3s ease;
}

.lil-btn.link:hover {
    text-decoration: underline;
    color: var(--darkblue);
}

.lil-btn.blue.outline:not(:hover) {
    border-color: var(--blue);
    color: var(--blue);
    background: transparent;
}

.lil-btn.blue.outline:hover {
    background-color: var(--blue);
    color: var(--white);
}

.lil-btn.blue.outline:active {
    background-color: var(--darkblue);
}

.lil-btn.red.outline:not(:hover) {
    border-color: var(--red);
    color: var(--red);
    background: transparent;
}

.lil-btn.red.outline:hover {
    background-color: var(--red);
    color: var(--white);
}

.lil-btn.red.outline:active {
    background-color: var(--darkred);
}

.lil-btn.green.outline:not(:hover) {
    border-color: var(--green);
    color: var(--green);
    background: transparent;
}

.lil-btn.green.outline:hover {
    background-color: var(--green);
    color: var(--white);
}

.lil-btn.green.outline:active {
    background-color: var(--darkgreen);
}

.lil-btn.yellow.outline:not(:hover) {
    border-color: var(--yellow);
    color: var(--yellow);
    background: transparent;
}

.lil-btn.yellow.outline:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.lil-btn.yellow.outline:active {
    background-color: var(--darkyellow);
}

.lil-btn.orange.outline:not(:hover) {
    border-color: var(--orange);
    color: var(--orange);
    background: transparent;
}

.lil-btn.orange.outline:hover {
    background-color: var(--orange);
    color: var(--white);
}

.lil-btn.orange.outline:active {
    background-color: var(--darkorange);
}

.lil-btn.purple.outline:not(:hover) {
    border-color: var(--purple);
    color: var(--purple);
    background: transparent;
}

.lil-btn.purple.outline:hover {
    background-color: var(--purple);
    color: var(--white);
}

.lil-btn.purple.outline:active {
    background-color: var(--darkpurple);
}

.lil-btn:disabled {
    background: var(--lightgray);
    color: var(--gray);
    cursor: default;
    border-color: transparent;
}

.lil-btn:disabled:hover {
    background: var(--lightgray);
    color: var(--gray);
    cursor: default;
    border-color: transparent;
    text-decoration: none;
}

.lil-table {
    border-collapse: collapse;
    margin: 20px 0;
}

.lil-table th, .lil-table td {
    border: 1px solid var(--lightgray);
    padding: 10px;
    min-width: 100px;
}

.lil-code {
    padding: 2px 5px;
    background: var(--lightgray);
    border-radius: 3px;
}

fieldset.lil-field {
    border: 1px solid var(--lightgray);
    border-radius: 3px;
}

label, legend, input {
    font-family: var(--regularfont);
    font-size: 1em;
}

label {
    margin: 5px 0;
    display: block;
    font-weight: 600;
}


input[type="text"].lil-input,
input[type="number"].lil-input, 
input[type="date"].lil-input, 
input[type="password"].lil-input, 
input[type="email"].lil-input, 
input[type="search"].lil-input,
input[type="tel"].lil-input,
input[type="time"].lil-input,
input[type="url"].lil-input,
input[type="week"].lil-input,
input[type="month"].lil-input,
input[type="datetime-local"].lil-input,
textarea.lil-input {
    margin: 5px 0;
    font-family: var(--regularfont);
    font-size: 1em;
    padding: 10px;
    outline: none;
    border: 1px solid var(--gray);
    color: var(--darkgray);
    border-radius: 3px;
    transition: border 0.3s ease;
}

textarea.lil-input {
    height: 100px;
}

input[type="text"].lil-input:focus,
input[type="number"].lil-input:focus, 
input[type="date"].lil-input:focus, 
input[type="password"].lil-input:focus,
input[type="email"].lil-input:focus,
input[type="search"].lil-input:focus,
input[type="tel"].lil-input:focus,
input[type="time"].lil-input:focus,
input[type="url"].lil-input:focus,
input[type="week"].lil-input:focus,
input[type="month"].lil-input:focus,
input[type="datetime-local"].lil-input:focus,
textarea.lil-input:focus {
    border-color: var(--blue);
}

input[type="text"].lil-input.invalid,
input[type="number"].lil-input .invalid, 
input[type="date"].lil-input .invalid, 
input[type="password"].lil-input .invalid,
input[type="email"].lil-input .invalid,
input[type="search"].lil-input .invalid,
input[type="tel"].lil-input .invalid,
input[type="time"].lil-input .invalid,
input[type="url"].lil-input .invalid,
input[type="week"].lil-input .invalid,
input[type="month"].lil-input .invalid,
input[type="datetime-local"].lil-input .invalid,
textarea.lil-input .invalid {
    border-color: var(--red);
    color: var(--red);
}

input[type="text"].lil-input.invalid::placeholder,
input[type="number"].lil-input .invalid::placeholder, 
input[type="date"].lil-input .invalid::placeholder, 
input[type="password"].lil-input .invalid::placeholder,
input[type="email"].lil-input .invalid::placeholder,
input[type="search"].lil-input .invalid::placeholder,
input[type="tel"].lil-input .invalid::placeholder,
input[type="time"].lil-input .invalid::placeholder,
input[type="url"].lil-input .invalid::placeholder,
input[type="week"].lil-input .invalid::placeholder,
input[type="month"].lil-input .invalid::placeholder,
input[type="datetime-local"].lil-input .invalid::placeholder,
textarea.lil-input .invalid::placeholder {
    color: var(--red);
    opacity: 0.75;
}

input[type="text"].lil-input.valid,
input[type="number"].lil-input.valid, 
input[type="date"].lil-input.valid, 
input[type="password"].lil-input.valid,
input[type="email"].lil-input.valid,
input[type="search"].lil-input.valid,
input[type="tel"].lil-input.valid,
input[type="time"].lil-input.valid,
input[type="url"].lil-input.valid,
input[type="week"].lil-input.valid,
input[type="month"].lil-input.valid,
input[type="datetime-local"].lil-input.valid,
textarea.lil-input.valid {
    border-color: var(--green);
    color: var(--green);
}

input[type="text"].lil-input.valid::placeholder,
input[type="number"].lil-input.valid::placeholder, 
input[type="date"].lil-input.valid::placeholder, 
input[type="password"].lil-input.valid::placeholder,
input[type="email"].lil-input.valid,
input[type="search"].lil-input.valid::placeholder,
input[type="tel"].lil-input.valid::placeholder,
input[type="time"].lil-input.valid::placeholder,
input[type="url"].lil-input.valid::placeholder,
input[type="week"].lil-input.valid::placeholder,
input[type="month"].lil-input.valid::placeholder,
input[type="datetime-local"].lil-input.valid::placeholder,
textarea.lil-input.valid::placeholder {
    color: var(--green);
    opacity: 0.75;
}

.lil-sublabel {
    font-size: 0.8rem;
    color: var(--gray);
    font-weight: normal;
}

.lil-info {
    font-size: 0.8rem;
    color: var(--gray);
    margin: 0 0 5px 0;
}

.lil-info.invalid {
    color: var(--red);
}

.lil-info.valid {
    color: var(--green);
}

.line-ellipsis {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    word-break: break-all;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.block.inline {
    display: inline-block;
}

.lil-clear {
    clear: both;
}

.width-100 {
    width: 100%;
    box-sizing: border-box;
}

.width-75 {
    width: 75%;
    box-sizing: border-box;
}

.width-50 {
    width: 50%;
    box-sizing: border-box;
}

.width-33 {
    width: calc(100% / 3);
    box-sizing: border-box;
}

.width-25 {
    width: 25%;
    box-sizing: border-box;
}

.lil-row            { display: flex; flex-wrap: wrap; }
.lil-row.\-top      { align-items: flex-start; }
.lil-row.\-middle   { align-items: center; }
.lil-row.\-bottom   { align-items: flex-end; }
.lil-row.\-stretch  { align-items: stretch; }
.lil-row.\-baseline { align-items: baseline; }
.lil-row.\-left     { justify-content: flex-start; }
.lil-row.\-center   { justify-content: center; }
.lil-row.\-right    { justify-content: flex-end; }
.lil-row.\-between  { justify-content: space-between; }
.lil-row.\-around   { justify-content: space-around; }

.lil-col            { box-sizing: border-box; flex-shrink: 0; }
.lil-col.\-fill     { width: 0; min-width: 0; flex-grow: 1; }
.lil-col.\-1-12    { width: calc(100% * 1 / 12); }
.lil-col.\-2-12    { width: calc(100% * 2 / 12); }
.lil-col.\-3-12    { width: calc(100% * 3 / 12); }
.lil-col.\-4-12    { width: calc(100% * 4 / 12); }
.lil-col.\-5-12    { width: calc(100% * 5 / 12); }
.lil-col.\-6-12    { width: calc(100% * 6 / 12); }
.lil-col.\-7-12    { width: calc(100% * 7 / 12); }
.lil-col.\-8-12    { width: calc(100% * 8 / 12); }
.lil-col.\-9-12    { width: calc(100% * 9 / 12); }
.lil-col.\-10-12   { width: calc(100% * 10 / 12); }
.lil-col.\-11-12   { width: calc(100% * 11 / 12); }
.lil-col.\-12-12   { width: 100%; }
.lil-col.\-half    { width: calc(100% * 6 / 12 - 10px); }
.lil-col.\-third    { width: calc(100% * 4 / 12 - 10px); }
.lil-col.\-quarter    { width: calc(100% * 3 / 12 - 10px); }