.no-padding {
    padding: 0;
}

.padding-tb-5 {
    padding: 5px 0;
}

.padding-lr-5 {
    padding: 0 5px;
}

.padding-tb-10 {
    padding: 10px 0;
}

.padding-lr-5 {
    padding: 0 10px;
}

.padding-tb-15 {
    padding: 15px 0;
}

.padding-lr-15 {
    padding: 0 15px;
}

.no-margin {
    margin: 0;
}

.margin-tb-5 {
    margin: 5px 0;
}

.margin-lr-5 {
    margin: 0 5px;
}

.margin-tb-10 {
    margin: 10px 0;
}

.margin-lr-5 {
    margin: 0 10px;
}

.margin-tb-15 {
    margin: 15px 0;
}

.margin-lr-15 {
    margin: 0 15px;
}

.line-clip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    word-break: break-all;
}

.line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.block.inline {
    display: inline-block;
}

.lil-clear {
    content: "";
    display: table;
    clear: both;
}

.max-width-100 {
    max-width: 100%;
    box-sizing: border-box;
}

.width-100 {
    width: 100%;
    box-sizing: border-box;
}

.width-75 {
    width: 75%;
    box-sizing: border-box;
}

.width-50 {
    width: 50%;
    box-sizing: border-box;
}

.width-33 {
    width: calc(100% / 3);
    box-sizing: border-box;
}

.width-25 {
    width: 25%;
    box-sizing: border-box;
}
